{% extends 'base.html' %}
{% block content %}
<h1>INDEX</h1>
<br>
<a href="{% url 'movies:create' %}">[CREATE]</a>
<hr>
{% for movie in movies %}
<a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a>
{% if request.user.is_authenticated %}
<form action="{% url 'movies:likes' movie.id %}" method="POST">
  {% csrf_token %}
  {% if request.user in movie.like_users.all %}
  <input type="submit" value="좋아요 취소">
  {% else %}
  <input type="submit" value="좋아요">
  {% endif %}
</form>
<form action="{% url 'movies:hates' movie.id %}" method="POST">
  {% csrf_token %}
  {% if request.user in movie.hate_users.all %}
  <input type="submit" value="싫어요 취소">
  {% else %}
  <input type="submit" value="싫어요">
  {% endif %}
</form>
{% endif %}
{% endfor %}
{% endblock content %}